{% extends 'main/base.html' %}
{% block title %}
addUser
{% endblock %}

{% block head %}

<style>
  #price {
    text-align: center;
  }

  .plan {
    display: inline-block;
    margin: 10px 1%;
    font-family: 'Lato', Arial, sans-serif;
  }

  .plan-inner {
    background: #fff;
    margin: 0 auto;
    min-width: 280px;
    max-width: 100%;
    position: relative;
  }

  .entry-title {
    background: #53CFE9;
    height: 140px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

  .entry-title>h3 {
    background: #20BADA;
    font-size: 20px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
  }

  .entry-title .price {
    position: absolute;
    bottom: -25px;
    background: #20BADA;
    height: 95px;
    width: 95px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50px;
    border: 5px solid #fff;
    line-height: 80px;
    font-size: 28px;
    font-weight: 700;
  }

  .price span {
    position: absolute;
    font-size: 9px;
    bottom: -10px;
    left: 30px;
    font-weight: 400;
  }

  .entry-content {
    color: #323232;
  }

  .entry-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .entry-content li {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
  }

  .entry-content li:last-child {
    border: none;
  }

  .btn1 {
    padding: 3em 0;
    text-align: center;
  }

  .btn1 a {
    background: #323232;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none
  }

  .hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
  }

  .basic .entry-title {
    background: #75DDD9;
  }

  .basic .entry-title>h3 {
    background: #44CBC6;
  }

  .basic .price {
    background: #44CBC6;
  }

  .standard .entry-title {
    background: #4484c1;
  }

  .standard .entry-title>h3 {
    background: #3772aa;
  }

  .standard .price {
    background: #3772aa;
  }

  .ultimite .entry-title>h3 {
    background: #DD4B5E;
  }

  .ultimite .entry-title {
    background: #F75C70;
  }

  .ultimite .price {
    background: #DD4B5E;
  }
</style>

<script type="text/javascript">

  // Logout Function to delete cookies and redirect to loginpage
  function userLogout() {
    document.cookie = "name" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "auth" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "userId" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "email" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "contact" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "dob" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "age" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "organization" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "whatsappLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "twitterLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "linkdinLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "facebookLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = '/login/';

  }

  // Function to get cookie value
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  // Onload DOM event to check if cookie("auth") is true
  // else redirect to login page
  // if true then set cookies value in innerHTML
  document.addEventListener('DOMContentLoaded', function () {
    if (getCookie("auth") != "true") {
      window.location.href = '/login/';
    }
    document.getElementById("name").innerHTML += getCookie("name");
    // document.getElementById("auth").innerHTML += getCookie("auth");
    document.getElementById("userId").value += getCookie("userId");
  }, false);
</script>
{% endblock %}


<!-- ----------------------------------------------- -->
<!-- ------------------Body Starts------------------ -->
<!-- ----------------------------------------------- -->
{% block content %}
<!-- 
  <br>
  <p id="auth">User Authenticated = </p>
  <p id="userId">UserId = </p>
  <br> -->

<!-- If user has exhausted all free attendee limits -->
{% if userLimit == 0 %}
<div class="container">

  <h1 id="name">Welcome <a href="#" onclick="userLogout()" class="btn btn-info btn-lg" style="float: right;">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a></h1>

  <br>
  <h2>Add User Page </h2>
  <br><br>
  <h3 style="font-family: 'Courier New', Courier, monospace;color: brown;">⚠ You have Exhausted your Free Quota, Please
    Upgrade</h3>
  <br>
  <form method="post" action="/login/addUser/">
    {% csrf_token %}

    <!-- Form Row 0 -->
    <div class="form-group input-group">
      <input type="text" id="userId" class="form-control-file" name="userId" hidden readonly required>
    </div> <!-- form-group end.// -->

  </form>


  <div id="price">
    <!--price tab-->
    <div class="plan">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Basic Wash</h3>
          <div class="price">$25<span>/PER CAR</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>1x</strong> option 1</li>
            <li><strong>2x</strong> option 2</li>
            <li><strong>3x</strong> option 3</li>
            <li><strong>Free</strong> option 4</li>
            <li><strong>Unlimited</strong> option 5</li>
          </ul>
        </div>
        <div class="btn1">
          <a href="#">Order Now</a>
        </div>
      </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan basic">
      <div class="plan-inner">
        <div class="hot">hot</div>
        <div class="entry-title">
          <h3>Express Wash</h3>
          <div class="price">$50<span>/PER CAR</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>1x</strong> option 1</li>
            <li><strong>2x</strong> option 2</li>
            <li><strong>3x</strong> option 3</li>
            <li><strong>Free</strong> option 4</li>
            <li><strong>Unlimited</strong> option 5</li>
          </ul>
        </div>
        <div class="btn1">
          <a href="#">Order Now</a>
        </div>
      </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Super Wash</h3>
          <div class="price">$75<span>/PER CAR</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>2x</strong> Free Entrance</li>
            <li><strong>Free</strong> Snacks</li>
            <li><strong>Custom</strong> Swags</li>
            <li><strong>2x</strong> Certificate</li>
            <li><strong>Free</strong> Wifi</li>
          </ul>
        </div>
        <div class="btn1">
          <a href="#">Order Now</a>
        </div>
      </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan ultimite">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Unlimited Wash</h3>
          <div class="price">$100<span>/PER CAR</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><strong>1x</strong> option 1</li>
            <li><strong>2x</strong> option 2</li>
            <li><strong>3x</strong> option 3</li>
            <li><strong>Free</strong> option 4</li>
            <li><strong>Unlimited</strong> option 5</li>
          </ul>
        </div>
        <div class="btn">
          <a href="#">Order Now</a>
        </div>
      </div>
    </div>
    <!-- end of price tab-->
  </div>

  <br><br>
  <!-- Back -->
  <a href="{% url 'userSpace' %}">
    <button type="button" class="btn btn-success btn-block" name="back">Back</button></a>
</div>
{% else %}

<!-- ------------------------------------------------------- -->
<!-- ----------------------Add user Form-------------------- -->
<!-- ------------------------------------------------------- -->
<div class="container">

  <h1 id="name">Welcome <a href="#" onclick="userLogout()" class="btn btn-info btn-lg" style="float: right;">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a></h1>

  <br>
  <h2>Add User Page </h2>
  <br><br>

  <form method="post" action="/login/addUser/" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Form Row 0 -->
    {% if userLimit != None %}
    <div class="form-group input-group">
      <input type="text" id="userLimit" class="form-control-file" name="attendeeLimit"
        value="Attendee Limit Left = {{ userLimit }}" readonly required>
    </div> <!-- form-group end.// -->
    {% endif %}

    <!-- Form Row 1 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
      </div>
      <input class="form-control" name="userName" placeholder="Enter Attendee Name" type="text" id="userName"
        maxlength="200" minlength="3" title="Enter a valid Name" required>
    </div> <!-- form-group end.// -->


    <!-- Form Row 2 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
      </div>
      <input class="form-control" name="roll" placeholder="Enter Attendee Roll No | Employee No" type="number" id="roll"
        maxlength="20" title="Enter a valid number" required>
    </div> <!-- form-group end.// -->


    <!-- Form Row 3 -->
    <div class="form-group input-group">
      <span class="label label-info">Select Attendee image: <font color="red">*[max size - 400 Kbs]</font></span>
      <input type="file" id="img" class="form-control-file" name="img" accept="image/*" required>
    </div> <!-- form-group end.// -->

    <script>
      var uploadField = document.getElementById("img");

      uploadField.onchange = function () {
        if (this.files[0].size > 420000) {
          Swal.fire({
            position: 'center',
            icon: 'error',
            title: 'File Size Exceeded!',
            footer: 'Select a file of size upto 100Kbs',
            showConfirmButton: false,
            timer: 1500
          })
          this.value = "";
        };
      };
    </script>

    <!-- Form Row 4 -->
    <div class="form-group input-group">
      <input type="text" id="userId" class="form-control-file" name="userId" hidden readonly required>
    </div> <!-- form-group end.// -->

    <br>
    <button type="submit" class="btn btn-primary btn-block" name="submit">Add User</button>
    <br>

    <!-- Back -->
    <a href="{% url 'userSpace' %}">
      <button type="button" class="btn btn-success btn-block" name="back">Back</button></a>
  </form>

  <!-- If user is added and routed back then -->
  {% if userAdded %}

  <script>
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'New Attendee - {{ name }} Added Successfully!',
      showConfirmButton: false,
      timer: 1500
    })
  </script>
</div>
{% endif %}

<br>
</div>

{% endif %}
<!-- end of if for limit > 0 -->

{% endblock %}