{% extends 'main/base.html' %}
{% block title %}
addUser
{% endblock %}

{% block head %}
<script type="text/javascript">

  // Logout Function to delete cookies and redirect to loginpage
  function userLogout() {
    document.cookie = "name" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "auth" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "userId" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "email" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "contact" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "dob" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "age" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "organization" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "whatsappLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "twitterLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "linkdinLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "facebookLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = '/login/';

  }

  // Function to get cookie value
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  // Onload DOM event to check if cookie("auth") is true
  // else redirect to login page
  // if true then set cookies value in innerHTML
  document.addEventListener('DOMContentLoaded', function () {
    if (getCookie("auth") != "true") {
      window.location.href = '/login/';
    }
    document.getElementById("name").innerHTML += getCookie("name");
    // document.getElementById("auth").innerHTML += getCookie("auth");
    document.getElementById("userId").value += getCookie("userId");
  }, false);
</script>
{% endblock %}


<!-- ----------------------------------------------- -->
<!-- ------------------Body Starts------------------ -->
<!-- ----------------------------------------------- -->
{% block content %}

<div class="container">

  <h1 id="name">Welcome <a href="#" onclick="userLogout()" class="btn btn-info btn-lg" style="float: right;">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a></h1>
  <!-- 
  <br>
  <p id="auth">User Authenticated = </p>
  <p id="userId">UserId = </p>
  <br> -->

  <br>
  <h2>Add User Page </h2>
  <br><br>

  <form method="post" action="/login/addUser/" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Form Row 0 -->
    {% if userLimit != None %}
    <div class="form-group input-group">
      <input type="text" id="userLimit" class="form-control-file" name="attendeeLimit"
        value="Attendee Limit Left = {{ userLimit }}" readonly required>
    </div> <!-- form-group end.// -->
    {% endif %}

    <!-- Form Row 1 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
      </div>
      <input class="form-control" name="userName" placeholder="Enter Attendee Name" type="text" id="userName"
        maxlength="200" minlength="3" title="Enter a valid Name" required>
    </div> <!-- form-group end.// -->


    <!-- Form Row 2 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
      </div>
      <input class="form-control" name="roll" placeholder="Enter Attendee Roll No | Employee No" type="number" id="roll"
        maxlength="20" title="Enter a valid number" required>
    </div> <!-- form-group end.// -->


    <!-- Form Row 3 -->
    <div class="form-group input-group">
      <span class="label label-info">Select Attendee image: <font color="red">*[max size - 400 Kbs]</font></span>
      <input type="file" id="img" class="form-control-file" name="img" accept="image/*" required>
    </div> <!-- form-group end.// -->

    <script>
      var uploadField = document.getElementById("img");

      uploadField.onchange = function () {
        if (this.files[0].size > 420000) {
          Swal.fire({
            position: 'center',
            icon: 'error',
            title: 'File Size Exceeded!',
            footer: 'Select a file of size upto 100Kbs',
            showConfirmButton: false,
            timer: 1500
          })
          this.value = "";
        };
      };
    </script>

    <!-- Form Row 4 -->
    <div class="form-group input-group">
      <input type="text" id="userId" class="form-control-file" name="userId" hidden readonly required>
    </div> <!-- form-group end.// -->

    <br>
    <button type="submit" class="btn btn-primary btn-block" name="submit">Add User</button>
    <br>
    <!-- Back -->
    <a href="{% url 'userSpace' %}">
      <button type="button" class="btn btn-success btn-block" name="back">Back</button></a>
  </form>

  <!-- If user is added and routed back then -->
  {% if userAdded %}

  <script>
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'New Attendee - {{ name }} Added Successfully!',
      showConfirmButton: false,
      timer: 1500
    })
  </script>

  {% endif %}

  <br>
</div>

{% endblock %}