{% extends 'main/base.html' %}
{% block title %}
shareLink
{% endblock %}

{% block head %}
<script type="text/javascript">

  // Logout Function to delete cookies and redirect to loginpage
  function userLogout() {
    document.cookie = "name" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "auth" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "userId" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "email" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "contact" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "dob" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "age" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "organization" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "whatsappLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "twitterLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "linkdinLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "facebookLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = '/login/';

  }

  // Function to get cookie value
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }


  // Generate link in linkBox and make linkBox visible
  function generateLink() {
    document.getElementById("url").value = "https://" + window.location.hostname + "/attendance/" + getCookie("userId") + "/";
    document.getElementById("linkBox").style.display = "block";
  }

  // To copy link to clipboard
  function copyToClipboard() {
    var copyText = document.getElementById("url");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");
  }
  // Onload DOM event to check if cookie("auth") is true
  // else redirect to login page
  // if true then set cookies value in innerHTML
  document.addEventListener('DOMContentLoaded', function () {
    if (getCookie("auth") != "true") {
      window.location.href = '/login/';
    }
    document.getElementById("name").innerHTML += getCookie("name");
    // document.getElementById("auth").innerHTML += getCookie("auth");
    // document.getElementById("userId").innerHTML += getCookie("userId");
  }, false);
</script>

<style>
  #linkBox {
    display: none;
  }
</style>
{% endblock %}


<!-- ----------------------------------------------- -->
<!-- ------------------Body Starts------------------ -->
<!-- ----------------------------------------------- -->
{% block content %}

<div class="container">

  <h1 id="name">Welcome <a href="#" onclick="userLogout()" class="btn btn-info btn-lg" style="float: right;">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a></h1>

  <br>
  <!-- <p id="auth">User Authenticated = </p> -->
  <!-- <p id="userId">UserId = </p> -->
  <br>

  <br>
  <h2>Share Link Page</h2>
  <br><br>

  <!-- ---------------Share link starts here-------------- -->

  <button type="button" class="btn btn-primary" onclick="generateLink()">Generate Link</button>
  <br><br>

  <div class="form" id="linkBox">
    <input type="text" id="url" class="form-control-file" name="url" readonly required>
    <button type="button" class="btn btn-secondary float-right" onclick="copyToClipboard()">Copy to
      Clipboard</button><br>
  </div>
  <br>
  <!-- ---------------Share link ends here-------------- -->


  <br><br>

  <!-- BACK TO Profile -->
  <!-- Back -->
  <a href="{% url 'userSpace' %}">
    <button type="button" class="btn btn-success btn-block" name="back">Back</button></a>

  <br>
</div>

{% endblock %}