{% extends 'main/base.html' %}
{% block title %}
UserSpace
{% endblock %}

{% block head %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  p {
    text-align: left;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  a:hover {
    opacity: 0.7;
  }
</style>
{% endblock %}

{% block content %}

<!-- ------------------------------------ -->
<!-- To redirect if auth token is absent  -->
<!-- ------------------------------------ -->
{% if auth == None %}
<script lang="javascript">
  window.location.href = '/login/';
</script>
{% endif %}


<div class="container">

  <h1>Welcome {{ name }} <a href="{% url 'login' %}" class="btn btn-info btn-lg" style="float: right;">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a></h1>

  <br>User Authenticated = {{ auth }}
  <br>
</div>

<!-- About Start --><br>
<section class="about-area pt-100 pb-95">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">

        <!-- Adding Login-User Info -->
        <div class="card" style="line-height: normal;">
          {% load static %}
          <img src="{% static 'login/userDefault.jpg' %}" alt="{{ name }}" style="width:100%">
          <button type="button" class="btn btn-info"><i class="fa fa-user-plus" aria-hidden="true"></i>
            &nbsp; Add | Update </button>
          <hr>
          <div class="container">
            <h1 style="color: black;">{{ name }}</h1>
            <p class="title">✉ - {{ email }}</p>
            <p class="title"> 📞 - {{ contact }}</p>
            <p class="title"> 🎂 - {{ age }}</p>
            <p style="color: black; font-size: larger;"> 🏨 - {{ organization }}</p>
          </div>

          <div style="margin: 15px 0; line-height: 80%;">
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> &emsp;
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> &emsp;
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&emsp;
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>

          <button class="btn btn-info" type="button">Update Profile</button>
        </div>

      </div>

      <!-- 2 column | bottom tier  -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-content">
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <br>
          <h2 style=" font-family: 'Brush Script MT', cursive; text-align: center;">You Can </h2><br>

          <!-- User Functions -->
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/addUser.png' %}" width="144px" height="144px"
                  class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Add User</h5>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>

              <br>
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/updateUser.png' %}" width="144px" height="144px"
                  class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Update<br> User</h5>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>

            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">

              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/deleteUser.png' %}" width="144px" height="144px"
                  class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Delete User</h5>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>

              <br>
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/viewAttendance.png' %}" width="144px"
                  height="144px" class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">View Attendance</h5>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/generateLink.png' %}" width="144px"
                  height="144px" class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Share Link</h5>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>

              <br>
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/deleteAccount.png' %}" width="144px"
                  height="144px" class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Delete Account</h5>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
{% endblock %}