{% extends 'main/base.html' %}
{% block title %}
UserSpace
{% endblock %}

{% block head %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  p {
    text-align: left;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  a:hover {
    opacity: 0.7;
  }
</style>

<script>
  // Function to set cookie 
  // function setCookie(cname, cvalue, exdays) {
  //   var d = new Date();
  //   d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  //   var expires = "expires=" + d.toGMTString();
  //   document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  // }

  // Function to get cookie value
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  // Logout Function to delete cookies and redirect to loginpage
  function userLogout() {
    document.cookie = "name" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "auth" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "userId" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "email" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "contact" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "dob" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "age" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "organization" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "whatsappLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "twitterLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "linkdinLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "facebookLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = '/login/';

  }


  // Onload DOM event to check if cookie("auth") is true
  // else redirect to login page
  // if true then set cookies value in innerHTML
  document.addEventListener('DOMContentLoaded', function () {
    if (getCookie("auth") != "true") {
      window.location.href = '/login/';
    }
    document.getElementById("name").innerHTML += getCookie("name");
    // document.getElementById("auth").innerHTML += getCookie("auth");
    document.getElementById("email").innerHTML += getCookie("email");
    document.getElementById("contact").innerHTML += getCookie("contact");
    document.getElementById("dob").innerHTML += getCookie("dob");
    document.getElementById("age").innerHTML += getCookie("age");
    document.getElementById("organization").innerHTML += getCookie("organization");
    document.getElementById("whatsapp").href = getCookie("whatsappLink");
    document.getElementById("twitter").href = getCookie("twitterLink");
    document.getElementById("linkdin").href = getCookie("linkdinLink");
    document.getElementById("facebook").href = getCookie("facebookLink");


    // document.getElementById("auth").innerHTML += getCookie("auth");


    // document.getElementById("userId").innerHTML += getCookie("userId");
  }, false);
</script>
{% endblock %}


<!-- -------------------------------------------------------- -->
<!-- --------------------- Body Starts Here ----------------- -->
<!-- -------------------------------------------------------- -->
{% block content %}

<!-- ------------------------------------ -->
<!-- To redirect if auth token is absent  -->
<!-- ------------------------------------ -->
<!-- {% if auth == None %}
<script lang="javascript">
  window.location.href = '/login/';
</script>
{% endif %} -->

<!-- 
{% if auth == True %}
<script lang="javascript">
  var name = "{{ name }}";
  var userId = "{{ userId }}";

  // alert(userId);
  // Setting up Cookie
  setCookie("name", name, 30);
  setCookie("userId", userId, 30);
  setCookie("auth", true, 30);
</script>
{% endif %} -->


<div class="container">
  <h1 id="name">Welcome </h1>
  <a href="#" onclick="userLogout()" class="btn btn-info btn-lg" style="float: right;">
    <span class="glyphicon glyphicon-log-out"></span> Log out
  </a>

  <br>
  <!-- <p id="auth">User Authenticated = </p> -->
  <br>
</div>


<!-- About Start --><br>
<section class="about-area pt-100 pb-95">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">

        <!-- Adding Login-User Info -->
        <div class="card" style="line-height: normal;">
          {% load static %}
          <img src="{% static 'login/userDefault.jpg' %}" alt="{{ name }}" style="width:100%">
          <button type="button" class="btn btn-info"><i class="fa fa-user-plus" aria-hidden="true"></i>
            &nbsp; Add | Update </button>
          <hr>
          <div class="container">
            <h1 style="color: black;" id="name"></h1>
            <p class="title" id="email">✉ - </p>
            <p class="title" id="contact"> 📞 - </p>
            <p class="title" id="dob"> 🎂 - </p>
            <p class="title" id="age"> Age - </p>
            <p style="color: black; font-size: larger;" id="organization"> 🏨 - </p>
          </div>

          <div style="margin: 15px 0; line-height: 80%;">
            <a id="whatsapp" href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a> &emsp;
            <a id="twitter" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> &emsp;
            <a id="linkdin" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>&emsp;
            <a id="facebook" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>

          <button class="btn btn-info" type="button">Update Profile</button>
        </div>

      </div>

      <!-- 2 column | bottom tier  -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-content">
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <br>
          <h2 style=" font-family: 'Brush Script MT', cursive; text-align: center;">You Can </h2><br>

          <!-- User Functions -->
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/addUser.png' %}" width="144px" height="144px"
                  class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Add User</h5>
                  <a href="{% url 'addUser' %}" class="stretched-link"></a>
                </div>
              </div>

              <br>
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/updateUser.png' %}" width="144px" height="144px"
                  class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Update<br> User</h5>
                  <a href="{% url 'updateUser' %}" class="stretched-link"></a>
                </div>
              </div>

            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">

              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/deleteUser.png' %}" width="144px" height="144px"
                  class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Delete User</h5>
                  <a href="{% url 'deleteUser' %}" class="stretched-link"></a>
                </div>
              </div>

              <br>
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/viewAttendance.png' %}" width="144px"
                  height="144px" class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">View Attendance</h5>
                  <a href="{% url 'viewattendance' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/generateLink.png' %}" width="144px"
                  height="144px" class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Share Link</h5>
                  <a href="{% url 'shareLink' %}" class="stretched-link"></a>
                </div>
              </div>

              <br>
              <div class="card bg-dark" style="width: 10em">
                {% load static %}
                <img class="card-img-top mx-auto" src="{% static 'login/deleteAccount.png' %}" width="144px"
                  height="144px" class="rounded mb-4" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Delete Account</h5>
                  <a href="{% url 'deleteAccount' %}" class="stretched-link"></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
{% endblock %}