{% extends 'main/base.html' %}
{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">
  <h1>About US</h1><br><br>
  <h2>Our Team</h2>
  {% load static %}

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

    <div class="container" style="padding: 1em;">
      <div class="col mb-4">
        <div class="card bg-dark">
          {% load static %}
          <img src="{% static 'main/rithik.jpeg' %}" width="200px" height="250px" class="card-img-top mx-auto"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Ritik</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 1em;">
      <div class="col mb-4">
        <div class="card bg-dark">
          <img src="{% static 'main/shweta.jpeg' %}" width="200px" height="250px" class="card-img-top mx-auto"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Shweta</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 1em;">
      <div class="col mb-4">
        <div class="card bg-dark">
          <img src="{% static 'main/nauman.jpeg' %}" width="200px" height="250px" class="card-img-top mx-auto"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Nauman</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 1em;">
      <div class="col mb-4">
        <div class="card bg-dark">
          <img src="{% static 'main/sarshati.jpeg' %}" width="200px" height="250px" class="card-img-top mx-auto"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Sarshati</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}