{% extends 'main/base.html' %}
{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">
  <h1>About US</h1><br><br>
  <h2>Our Team</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="container" style="padding: 2em;">
      <div class="col mb-4">
        <div class="card">
          <img src="https://dummyimage.com/600x400/000/fff.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 2em;">
      <div class="col mb-4">
        <div class="card">
          <img src="https://dummyimage.com/600x400/000/fff.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 2em;">
      <div class="col mb-4">
        <div class="card">
          <img src="https://dummyimage.com/600x400/000/fff.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding: 2em;">
      <div class="col mb-4">
        <div class="card">
          <img src="https://dummyimage.com/600x400/000/fff.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}