{% extends 'main/base.html' %}
{% block title %}
viewAttendance
{% endblock %}

{% block head %}
<script type="text/javascript">

  // Logout Function to delete cookies and redirect to loginpage
  function userLogout() {
    document.cookie = "name" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "auth" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "userId" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "email" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "contact" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "dob" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "age" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "organization" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "whatsappLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "twitterLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "linkdinLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "facebookLink" + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.href = '/login/';

  }

  // Function to get cookie value
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  // Onload DOM event to check if cookie("auth") is true
  // else redirect to login page
  // if true then set cookies value in innerHTML
  document.addEventListener('DOMContentLoaded', function () {
    if (getCookie("auth") != "true") {
      window.location.href = '/login/';
    }
    document.getElementById("name").innerHTML += getCookie("name");
    // document.getElementById("auth").innerHTML += getCookie("auth");
    document.getElementById("userId1").value += getCookie("userId");
  }, false);
</script>
{% endblock %}


<!-- ----------------------------------------------- -->
<!-- ------------------Body Starts------------------ -->
<!-- ----------------------------------------------- -->
{% block content %}

<div class="container">

  <h1 id="name">Welcome <a href="#" onclick="userLogout()" class="btn btn-info btn-lg" style="float: right;">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a></h1>

  <br>
  <!-- <p id="auth">User Authenticated = </p> -->
  <!-- <p id="userId">UserId = </p> -->
  <br>

  <br>
  <h2>View - Attendance Page</h2>
  <br><br>


  <form method="post" action="/login/viewattendance/">
    {% csrf_token %}
    <div class="form-group input-group">
      <input type="text" id="userId1" class="form-control-file" name="userId" readonly hidden required>
    </div> <!-- form-group end.// -->

    <button type="submit" class="btn btn-warning" name="view" value="view">View Attendance</button>
  </form>
  <br><br>


  {% if state == "true" %}

  <!----------- Attendance Table Starts Here -------------->
  <table style="width:100%" class="table table-bordered table-hover table-dark">
    <tr>
      <th rowspan="3" class="bg-primary" style="text-align:center">Date</th>
      <th colspan={{ totalAttendees }} class="bg-warning" style="text-align:center">Attendance</th>
    </tr>

    <!-- Printing AttendeeName -->
    <tr class="bg-info">
      {% for name in attendeeName %}
      <td>{{name}}</td>
      {% endfor %}
    </tr>


    <!-- Printing AttendeeId -->
    <tr class="bg-info">
      {% for id in attendanceID %}
      <td>{{id}}</td>
      {% endfor %}
    </tr>

    <!-- Entering date -->
    {% for record in attendanceRecord%}
    <tr>
      {% for item in record %}
      {% if item == "Yes" %}
      <td class="bg-success">{{ item }}</td>
      {% elif item == "No" %}
      <td class="bg-danger">{{ item }}</td>
      {% else %}
      <td>{{ item }}</td>
      {% endif%}
      {% endfor %}
    </tr>
    {% endfor %}


  </table>
  <!------------Attendance Table Ends Here ---------------->
  <button type="button" class="btn btn-info download" name="download" id="download">Download 🔽</button>

  <script lang="javascript">
    function download_csv(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV FILE
      csvFile = new Blob([csv], { type: "text/csv" });

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // We have to create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Make sure that the link is not displayed
      downloadLink.style.display = "none";

      // Add the link to your DOM
      document.body.appendChild(downloadLink);

      // Lanzamos
      downloadLink.click();
    }

    function export_table_to_csv(html, filename) {
      var csv = [];
      var rows = document.querySelectorAll("table tr");

      for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
          row.push(cols[j].innerText);

        csv.push(row.join(","));
      }

      // Download CSV
      download_csv(csv.join("\n"), filename);
    }

    document.querySelector(".download").addEventListener("click", function () {
      var html = document.querySelector("table").outerHTML;
      export_table_to_csv(html, 'export_attendance_' + new Date().toLocaleDateString() + '.csv');
    });

  </script><br><br>

  {% endif %}
  <br>

  <!-- BACK TO Profile -->
  <!-- Back -->
  <a href="{% url 'userSpace' %}">
    <button type="button" class="btn btn-success btn-block" name="back">Back</button></a>

  <br>
</div>

{% endblock %}