{% extends 'main/base.html' %}
{% block title %}
Mark-Attendace
{% endblock %}

{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
<style>
  #camera,
  #camera--view,
  #camera--sensor,
  #camera--output {
    position: fixed;
    height: 50%;
    width: 50%;
    object-fit: cover;
  }

  #camera--view,
  #camera--sensor,
  #camera--output {
    transform: scaleX(-1);
    filter: FlipH;
  }

  #camera--trigger {
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 18%;
    left: 7%;
  }

  .send {
    bottom: 18%;
    position: absolute;
    width: 30%;
    /* margin-right: 10px; */
    right: 7%;
  }

  .taken {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    top: 150px;
    right: 180px;
    z-index: 2;
  }
</style>
{% endblock %}

{% block content %}
{{ result }}
{{ userid }}

{% if attendeeImgSend %}
<script>
  Swal.fire({
    position: 'center',
    icon: 'success',
    title: 'Attendance Marked Succfully!',
    showConfirmButton: false,
    timer: 1500
  })
</script>
{% endif %}


<div class="container">
  <!-- Camera -->
  <main id="camera">
    <!-- Camera sensor -->
    <canvas id="camera--sensor"></canvas>
    <!-- Camera view -->
    <video id="camera--view" autoplay playsinline></video>

    <!-- Camera output -->
    <img src="//:0" alt="" id="camera--output">
    <!-- <button id="send">Mark Attendance</button> -->
  </main>
</div>
<!-- Camera trigger -->
<button id="camera--trigger">Take a picture</button>


<div class="send">
  <form method="post" action="/attendance/{{ userid }}/" name="myForm" id="myForm">
    {% csrf_token %}

    <br>
    <button type="button" class="btn btn-primary btn-block" name="markAttendance" onclick="sendAttendeeDetails()">Mark
      Attendance</button>

  </form>
</div>

<!-- Reference to your JavaScript file -->
{% load static %}
<script src="{% static '/markAttendance/webcam.js' %}" type="text/javascript"></script>


<script>
  function sendAttendeeDetails() {
    var image = document.getElementById('camera--output').src;

    if ((image == 'http://:0/') || (image == 'https://:0/')) {
      Swal.fire({
        icon: 'error',
        title: 'Picture not taken!',
        text: "Click the - 'Take a Picture' Button to take your image!",
      })
    }
    else {
      console.log("Uploading....");
      var form = document.getElementById('myForm');
      var formData = new FormData(form);
      formData.append("file", image);
      var xmlhttp = new XMLHttpRequest();

      // Add this during production
      // xmlhttp.open("POST", "https://" + window.location.hostname + "//attendance/{{ userid }}/");

      // For Development
      xmlhttp.open("POST", "");

      xmlhttp.send(formData);
      // alert(formData.get('file'));
      // alert("Hello");

      Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'Attendance Marked if you are part of this group!',
        // showConfirmButton: false,
        // timer: 1500
      }).then((result) => {
        window.location.href = window.location.origin; // for development
        // window.location.href = "https://"+window.location.hostname; 

      })
    }

  }

</script>

{% endblock %}