{% extends 'main/base.html' %}

{% block title %}
SignUp
{% endblock %}

{% block content %}
<h1 style="text-align: center;">Register Page</h1>
<br>
<p style="color: red; text-align: center;">{{ result }}</p>
<div class="container">
  <form method="post" action="/register/">
    {% csrf_token %}

    <!-- Form Row 1 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
      </div>
      <input class="form-control" type="text" name="name" placeholder="Enter Your Name" maxlength="200" required>
    </div> <!-- form-group end.// -->

    <!-- Form Row 2 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
      </div>
      <input class="form-control" name="email" placeholder="Enter Your Email" type="email" id="email" name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a valid E-mail" required>
    </div> <!-- form-group end.// -->

    <!-- Form Row 3 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
      <input class="form-control" name="contact" id="contact" placeholder="Enter Contact Number" type="text"
        pattern="[789][0-9]{9}" maxlength="10" title="Enter a valid phone number" required>
    </div> <!-- form-group end.// -->

    <!-- Form Row 4 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
      </div>
      <input class="form-control" type="text" name="organization" id="organization"
        placeholder="Enter Your Organization" maxlength="100" required>
    </div> <!-- form-group end.// -->

    <!-- Form Row 5 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
      </div>
      <input class="form-control" type="date" name="dob" id="dob" placeholder="Enter Your DOB" max="2010-10-13"
        title="Must be 13+ to use this App" required>
    </div> <!-- form-group end.// -->

    <!-- Form Row 6 -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
      <input class="form-control" type="password" id="pwd" name="pwd" placeholder="Create Your Password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
        required>

    </div> <!-- form-group end.// -->


    <button type="submit" class="btn btn-primary btn-block" name="SignUp">SignUp</button>

  </form>
</div>
{% endblock %}